{% extends "home/base.html" %} {% load static%} {% block title %} Sign up {% endblock title %} {% block body_block %} {% if messages %}
<ul>
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
</ul>
{% endif %}
<div class="qurey_form">
    <h2>Qurey Form <i class="fa fa-balance-scale" style="font-size:32px;color:black"></i> </h2>
    <form action="#" method="post" action="{%url 'base'%}">
        {% csrf_token %}
        <label for="name">Full Name</label>
        <input class="form_design" type="text" name="name" placeholder="Name" required>

        <label for="first_name">First Name</label>
        <input class="form_design" type="text" name="first_name" placeholder="First Name" required>

        <label for="last_name">Last Name</label>
        <input class="form_design" type="text" name="last_name" placeholder="Last Name" required>

        <label for="email">Email</label>
        <input class="form_design" type="email" name="email" placeholder="Email" required> _
        <label for="password1">Password</label>
        <input class="form_design" type="text" name="password1" placeholder="password1" required>

        <label for="password2">Re-Password</label>
        <input class="form_design" type="text" name="password2" placeholder="password2" required>

        <input class="form_design" type="submit">
    </form>
</div>



{% endblock body_block %}